<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="signature" class="ciecc.swzf.common.security.Signature">
        <property name="userMap">
            <map>
                <entry key="ciecc" value="Hfzx7bx5B7GqQALUnRao3B612QNq0pAP"/>
            </map>
        </property>
    </bean>

</beans>