<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
        http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

    <!-- 发布服务 -->
    <jaxws:endpoint id="additionalRecodingCaseService" implementor="ciecc.swzf.zbasecase.service.impl.AdditionalRecodingCaseServiceImpl"
                    address="/additionalRecodingCase">
        <jaxws:inInterceptors>
            <ref bean="inInterceptor"/>
        </jaxws:inInterceptors>
        <!--<jaxws:outInterceptors>-->
            <!--<ref bean="wss4jOutInterceptor"/>-->
        <!--</jaxws:outInterceptors>-->
    </jaxws:endpoint>

    <!--接收加密信息后解密-->
    <bean id="inInterceptor" class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
        <constructor-arg>
            <map>
                <!--验签（使用对方的公钥）-->
                <entry key="action" value="Signature Encrypt"/>
                <entry key="passwordCallbackClass" value="ciecc.swzf.common.interceptor.InCallback"/>
                <entry key="signatureVerificationPropFile" value="server.properties"/>
                <entry key="decryptionPropFile" value="server.properties"/>
            </map>
        </constructor-arg>
    </bean>

    <!--返回信息加密-->
    <bean id="outInterceptor" class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
        <constructor-arg>
            <map>
                <!--签名 加密-->
                <entry key="action" value="Signature Encrypt"/>
                <entry key="user" value="ciecc"/>
                <entry key="passwordCallbackClass" value="ciecc.swzf.common.interceptor.OutCallback"/>
                <entry key="signaturePropFile" value="client.properties"/>
                <entry key="encryptionPropFile" value="client.properties"/>
            </map>
        </constructor-arg>
    </bean>

    <cxf:bus>
        <cxf:features>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>

</beans>